nav {
  position: fixed;
  bottom: 0%;
  width: 100%;
  font-size: x-large;
  height: 70px;

  background-color: var(--primary-color);
  z-index: 10;
  box-shadow: 2px 2px 7px 01px rgba(0, 0, 0, 0.8);
}

nav span {
  width: 60px;
}

nav a {
  color: black;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: center;
  height: 100%;
}

.iconnav {
  width: 30px;
  filter: var(--nav-color-inactive);
  padding-bottom: 10px;
}

img:hover {
  cursor: pointer;
}

ul {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.active img {
  filter: var(--nav-color-active);
}
